body {
  background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)),
    url("assets/img/bg.jpg");
  background-size: cover;
}

.form-container {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
}

.site-heading {
  margin-top: 20px;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  color: white;
}

.navbar {
  margin-bottom: 30px;
}

.form-control {
  margin-bottom: 15px;
}

.disabled-form {
  pointer-events: none;
  opacity: 0.6;
}
